@import './variables';

@mixin title(){
  text-align: center;
  font-size: 2.2em;
  color: $ColorSecundario;
  font-weight: 700;
}

@mixin form(){
  width: 100%;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  gap: 5px;
  color: $ColorSecundario;
}