@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;700&display=swap');

$Font: 'Zilla Slab', serif;

$ColorPrimario: #F17AD1;
$ColorSecundario: #fff;
$ColorTerciario: #9D27B0;


$HoverIconos: #A97EEE;
$HoverBotones: #F17AD2;
